.cart {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.many {
    position: absolute;
    background-color: var(--blue-cart);
    color: white;
    top: -50%;
    left: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.box-popper {
    width: 300px;
}
// no cart
.no-product {
    color: #333;
    font-size: 1.4rem;
    padding: 12px 16px;
}

// have cart

.have-product {
    padding: 5px 15px 10px;
}

.list-product {
    padding-top: 5px;
    max-height: 370px;
    overflow: auto;

    & > li {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;

        + li {
            margin-top: 10px;
            border-top: 1px solid #ccc;
            padding-top: 10px;
        }
    }
}

.wrap-img {
    height: 60px;
    width: 60px;
    padding: 5px;
}

.info-product {
    flex: 1;
    margin-left: 15px;
}

.title-product {
    display: flex;
    justify-content: space-between;
    align-items: center;

    & > a {
        font-size: 14px;
        line-height: 1.8rem;
        font-weight: 400;
        color: #333;
    }
}

.dele-pro {
    font-size: 1.8rem;
    cursor: pointer;
    padding: 2px 6px;
}

.price {
    font-size: 1.4rem;
    color: #363636;
    line-height: 2rem;
    margin: 4px 0px;
}

.many-product {
    display: flex;
    align-items: center;
    margin-top: 10px;
}

.btn {
    background-color: #fff !important;
    color: #6c6b6b;
    height: 25px;
    width: 25px;
    font-size: 1.4rem;
    line-height: 2.5rem;
    text-align: center;
    overflow: hidden;
    border-style: hidden;
    border: 1px solid #ebebeb;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    cursor: pointer;
}

.many-input {
    width: 30px;
    line-height: 2.4rem;
    border: 1px solid #ebebeb;
    outline: none;
    border-left-style: none;
    border-right-style: none;
    text-align: center;
}

.product-name {
    font-weight: 400;
    line-height: 1.8rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.sum-price {
    display: flex;
    justify-content: space-between;
    margin-top: 26px;
    margin-bottom: 20px;
}
