.menu-nav {
    width: 300px;
    padding: 0px 15px;
}

.title {
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    color: #333;
}

.list-nav {
    margin-top: 20px;
}

.item-nav {
    list-style-type: none;
    & .link-nav {
        display: block;
        font-size: 1.4rem;
        text-transform: uppercase;
        padding: 12px 0px;
        padding-right: 24px;
        transition: all 0.2s linear;
        &:hover {
            color: var(--blue-cart);
        }
    }
}
