.btn {
    font-size: 1.4rem;
    width: 122px;
    height: 35px;
    padding: 0px 14px;
    display: flex;
    justify-content: center;
    align-items: center;

    + .btn {
        margin-left: 4px;
    }
}

.primary {
    background-color: var(--primary);
    color: white;
    cursor: pointer;
    transition: all 0.25s linear;

    &:hover {
        background-color: var(--blue-cart);
    }
}

.disable {
    cursor: none;
    pointer-events: none;
}

// size

.large {
    width: 100%;
    font-size: 1.4rem;
    padding: 12px 30px;
    font-weight: 700;
    height: auto;
}

.medium {
    width: 200px;
    height: 45px;
    padding: 4px 10px;
    font-size: 1.5rem;
}
