.content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1200px;
}

.border-nav {
    padding: 12px 0px;
    display: flex;
    justify-content: center;
}

.color-red {
    width: 70px;
    display: block;
    height: 3px;
    background-color: var(--primary);
}

@media (min-width: 740px) {
    .product {
        width: auto;
    }
}

@media (min-width: 1113px) {
    .product {
        width: 1200px;
    }
}
