.position {
    display: block !important;
    position: fixed !important;
    z-index: 10;
}

.wrap-content {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    margin: auto;
    padding-top: 60px;
}

.content {
    background-color: white;
    height: fit-content;
    width: 635px;
    padding: 40px 35px;
    color: var(--text-color);
}

.title {
    font-size: 1.8rem;
    font-weight: 500;
    line-height: 2.4rem;
    margin-bottom: 15px;
}

.switch-model {
    font-size: 1.4rem;
    line-height: 2.4rem;
    margin-top: 10px;

    & .btn-switch {
        text-decoration: underline;
        cursor: pointer;
        &:hover {
            color: var(--blue-cart);
        }
    }
}

// btn signin
.btn-signin {
    margin-top: 14px;
}
