.cart {
    position: relative;
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.many {
    position: absolute;
    background-color: var(--blue-cart);
    color: white;
    top: -50%;
    left: 50%;
    width: 30px;
    height: 30px;
    font-size: 1.6rem;
    align-items: center;
    display: flex;
    justify-content: center;
    border-radius: 50%;
}

.box-popper {
    width: 300px;
}

// model show cart

.show-cart {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: flex-end;
    z-index: 10;
    background-color: rgba(107, 106, 106, 0.7);
}

.input-cart {
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 30px;
    cursor: pointer;
    opacity: 0;

    &:checked ~ .show-cart {
        display: flex;
    }
}

.layout {
    width: 400px;
    background-color: white;
    height: 100%;
    transform: translateX(0%);
    display: none;
    animation: toastright 0.4s linear;
}

.animation-cart {
    display: block;
}

@keyframes toastright {
    from {
        opacity: 0;
        transform: translateX(100%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
