.wrapper {
    margin-bottom: 16px;
}

@media (min-width: 1113px) {
    .wrapper.layout {
        flex: 0 0 33.33333%;
        max-width: 33.33333%;
    }
}

.content {
    &:hover .show {
        display: block;
    }
}

.wrap-img {
    display: block;
    position: relative;
}

img {
    width: 100%;
    object-fit: cover;
}

.info {
    padding: 20px 0px;
}

.name {
    font-weight: 400;
    line-height: 2.8rem;
    margin-bottom: 7px;
}

.nav-link {
    transition: all 0.25s linear;
    &:hover {
        color: var(--blue-cart);
    }
}
